/**
 * Created by Sushant Gauchan
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/
@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 50px 80px; }

  #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_2 .content h1:first-of-type, #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_3 .content h1:first-of-type {
    margin-top: 30px; }

  h1 {
    font-size: 20px; }

  body.home-page #header-wrapper .logo-nav-wrapper {
    padding: 30px 0 15px;
    margin-bottom: 30px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-nav-wrapper {
    padding: 35px 0 25px; }
    #header-wrapper .logo-nav-wrapper .logo-container img {
      width: 160px; }
    #header-wrapper .logo-nav-wrapper .nav-container {
      padding: 0 20px 0 40px; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li:not(:last-of-type) {
        margin-right: 22px; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item form input {
        padding: 8px 14px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    padding-bottom: 71px; }
    #content-wrapper #home-page .home-banner-section .home-banner-slider .banner-item {
      height: calc(100vh - 99px); }
    #content-wrapper #login-page .common-login-section .custom-container {
      padding-top: 170px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-slider .product-image-item img {
      width: 400px; }
    #content-wrapper #cart-page .customer-info-section .custom-container {
      max-width: 1200px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .copyright {
    padding: 25px 0 22px; }

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-home-logo-section .logo-container {
    padding-top: 45px; }
    .common-home-logo-section .logo-container a img {
      max-width: 240px; }

  .common-block-container .block {
    height: calc(100vh - 282px); }
    .common-block-container .block.left-block {
      width: 250px;
      padding-right: 30px; }
      .common-block-container .block.left-block .tab-container ul li:not(:last-of-type) {
        margin-bottom: 10px; }
    .common-block-container .block.right-block {
      width: calc(100% - 250px);
      padding-left: 30px;
      padding-right: 30px; }
      .common-block-container .block.right-block .content h1 {
        margin: 30px 0 12px; }

  .common-product-breakdown .content {
    padding: 0 10px; }
    .common-product-breakdown .content table tr td {
      padding: 8px 10px; }
      .common-product-breakdown .content table tr td:nth-of-type(1) {
        padding-left: 22px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) ul li span:nth-of-type(1) {
    height: 70px;
    width: 70px; }

  #themaintenancemodal .modal-dialog {
    width: 670px; }
    #themaintenancemodal .modal-dialog .modal-body {
      padding: 80px 40px; }
  #themaintenancemodal .image-container img {
    width: 480px; }
  #themaintenancemodal .text-container {
    margin-top: 40px; }
    #themaintenancemodal .text-container h1 {
      font-size: 26px; }

  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider .slick-prev {
    left: 80px; }
  .slick-slider .slick-next {
    right: 80px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/ }
@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-nav-wrapper .button-container ul li:not(:first-of-type) {
    margin-left: 15px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item {
    width: 24%; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item {
    width: calc(100% - (24% + 145px)); }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-main .product-image-main-item img {
      width: 95%; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container {
      width: 400px; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item {
    width: 145px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group input, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group select, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group a {
      font-size: 13px; }
  #content-wrapper #buy-page .buy-section .location-container .location-item {
    width: 50%; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  #themaintenancemodal .modal-dialog {
    width: 580px; }
    #themaintenancemodal .modal-dialog .modal-body {
      padding: 60px 30px; }
  #themaintenancemodal .image-container img {
    width: 420px; }
  #themaintenancemodal .text-container {
    margin-top: 30px; }
    #themaintenancemodal .text-container h1 {
      font-size: 24px; }

  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/ }
@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 40px 50px; }

  #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
    z-index: 3; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-nav-wrapper .logo-container img {
    width: 140px; }
  #header-wrapper .logo-nav-wrapper .nav-container {
    padding: 0 20px 0 30px; }
    #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item {
      pointer-events: none;
      opacity: 0;
      z-index: 2;
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      left: 0;
      background: #bcbbaf;
      padding: 30px;
      -webkit-transition: all .6s ease;
      -moz-transition: all .6s ease;
      -ms-transition: all .6s ease;
      -o-transition: all .6s ease;
      transition: all .6s ease;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul {
        position: relative;
        text-align: center; }
        #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li {
          display: block; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li:not(:last-of-type) {
            margin-right: 0px;
            margin-bottom: 20px; }
    #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item form input {
      padding: 6px 14px; }
  #header-wrapper .logo-nav-wrapper .button-container ul li {
    vertical-align: baseline; }
    #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
      z-index: 3;
      display: inline-block;
      position: relative;
      top: 2px; }
      #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle span {
        display: block;
        height: 2px;
        width: 25px;
        background-color: #101010; }
        #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle span:not(:last-of-type) {
          margin-bottom: 5px; }
  #header-wrapper.nav-open .logo-nav-wrapper .nav-container .inner .navigation-item {
    pointer-events: initial;
    opacity: 1;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item {
    width: 28%; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item {
    width: calc(100% - (28% + 135px)); }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-main .product-image-main-item img {
      width: 100%; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item {
    width: 135px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group label {
      font-size: 14px;
      margin-bottom: 8px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group input, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group select, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group a {
      padding: 6px 10px; }
  #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block {
    margin: 0 0; }
    #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item {
      padding: 0 0; }
      #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image {
        width: 100%; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image:after {
          display: none; }
      #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-text {
        width: 100%;
        margin-top: 40px; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-text h1 {
          margin-bottom: 20px;
          text-align: left; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section .title h1 {
    font-size: 25px; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner img {
    width: 120px; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner p {
    font-size: 16px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-block-container .block {
    height: auto; }
    .common-block-container .block::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px transparent; }
    .common-block-container .block.left-block {
      width: 280px;
      border-right: 2px solid #d9d9d9; }
      .common-block-container .block.left-block .tab-container {
        margin-bottom: 20px; }
        .common-block-container .block.left-block .tab-container ul li:not(:last-of-type) {
          margin-bottom: 6px; }
      .common-block-container .block.left-block .image-container .image-item:not(:last-of-type) {
        margin-bottom: 25px; }
    .common-block-container .block.right-block {
      width: calc(100% - 280px);
      padding-right: 0; }

  .common-product-container .product-item {
    width: 20%; }

  .common-product-breakdown .title {
    margin-bottom: 12px;
    padding-bottom: 12px; }
  .common-product-breakdown .content {
    padding: 0; }
    .common-product-breakdown .content table tr td {
      padding: 6px 10px; }
      .common-product-breakdown .content table tr td:nth-of-type(1) {
        padding-left: 18px; }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span:nth-of-type(1) {
    height: 60px;
    width: 60px; }

  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider .slick-prev {
    left: 50px; }
    .slick-slider .slick-prev:before {
      height: 30px;
      width: 24px; }
  .slick-slider .slick-next {
    right: 50px; }
    .slick-slider .slick-next:before {
      height: 30px;
      width: 24px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/ }
@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  body.home-page #header-wrapper .logo-nav-wrapper {
    padding: 20px 0 12px;
    margin-bottom: 20px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-nav-wrapper .button-container ul li img {
    width: 22px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    padding-bottom: 63px; }
    #content-wrapper #home-page .home-banner-section .home-banner-slider {
      display: none; }
      #content-wrapper #home-page .home-banner-section .home-banner-slider .banner-item {
        height: calc(100vh - 76px); }
    #content-wrapper #home-page .home-banner-section .home-banner-slider-mobile {
      display: block; }
      #content-wrapper #home-page .home-banner-section .home-banner-slider-mobile .banner-item-mobile {
        height: calc(100vh - 76px); }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item {
      width: 100%; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item .common-product-breakdown {
        display: none; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item {
      width: 100%;
      padding: 0;
      margin-top: 30px; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav ul li img {
        width: 80px; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav ul li:not(:last-of-type) {
        margin-right: 5px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item {
      width: 100%;
      margin-top: 30px; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item .common-product-breakdown {
        display: block; }
    #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-text h1 {
      margin-bottom: 16px;
      text-align: left; }
    #content-wrapper #buy-page .buy-section .location-container .location-item {
      width: 100%; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tr td img {
      width: 120px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table thead tr td {
      font-size: 14px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .copyright {
    padding: 22px 0 20px; }
    #footer-wrapper .copyright p {
      font-size: 14px; }

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-block-container .block {
    min-height: calc(100vh - 228px); }
    .common-block-container .block.left-block {
      width: 210px; }
      .common-block-container .block.left-block .tab-container ul li a {
        font-size: 14px;
        padding-left: 20px; }
        .common-block-container .block.left-block .tab-container ul li a:after {
          top: 8px; }
    .common-block-container .block.right-block {
      width: calc(100% - 210px);
      padding-right: 0px; }
      .common-block-container .block.right-block .content .inner-block .block-item.inner-text h1 {
        margin-bottom: 16px; }

  .common-product-container {
    margin: -20px -20px; }
    .common-product-container .product-item {
      width: 25%;
      padding: 20px 25px; }

  .common-cart-style table thead {
    display: none; }
  .common-cart-style table tbody tr {
    display: block;
    border: 1px solid #dedede;
    text-align: right; }
    .common-cart-style table tbody tr:not(:last-of-type) {
      margin-bottom: 20px; }
    .common-cart-style table tbody tr td {
      position: relative;
      display: block;
      padding: 10px 20px 10px 90px; }
      .common-cart-style table tbody tr td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        font-size: 14px;
        text-transform: capitalize;
        float: left;
        position: absolute;
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) ul {
    margin: -8px; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) ul li {
      width: 25%;
      padding: 8px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) ul li span:nth-of-type(1) {
        height: 50px;
        width: 50px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) ul li span:nth-of-type(2) {
        font-size: 14px; }
  #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) .image-container .square-image {
    height: 250px;
    width: 250px; }

  #themaintenancemodal .modal-dialog {
    width: 540px; }

  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider .slick-prev, .slick-slider .slick-next {
    height: 28px;
    width: 16px; }
    .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
      height: 28px;
      width: 16px; }
  .slick-slider .slick-prev {
    left: 50px; }
  .slick-slider .slick-next {
    right: 50px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/ }
@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 35px 30px; }

  body {
    font-size: 14px; }

  #wrapper #side-nav.open {
    width: 100%; }
  #wrapper #side-nav .custom-container .side-menu .side-menu-title h2 {
    font-size: 23px; }
  #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .product-img img {
    width: 100px; }

  .um-btn.large-size-btn {
    width: 123px;
    padding: 12px 10px; }

  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  body.home-page #header-wrapper .logo-nav-wrapper {
    padding: 22px 0 14px;
    margin-bottom: 20px; }
  body.search-open-body #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
    z-index: -1; }

  #header-wrapper .logo-nav-wrapper {
    padding: 20px 0 20px; }
    #header-wrapper .logo-nav-wrapper .logo-container img {
      width: 97px; }
    #header-wrapper .logo-nav-wrapper .nav-container {
      padding: 0; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item {
        z-index: 1;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        bottom: 0;
        background-color: #bcbbaf;
        padding: 30px 30px 0 30px; }
        #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item .close-search {
          display: block;
          text-align: right;
          margin-bottom: 20px; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item .close-search .fa {
            font-size: 18px; }
    #header-wrapper .logo-nav-wrapper .button-container ul li img {
      width: 20px; }
    #header-wrapper .logo-nav-wrapper .button-container ul li:not(:first-of-type) {
      margin-left: 8px; }
    #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
      margin-left: 16px;
      top: 6px; }

  #side-cart {
    width: 100%;
    right: -100%; }
    #side-cart .inner .title {
      padding: 18px 20px 14px; }
      #side-cart .inner .title .title-inner h1 {
        font-size: 14px; }
      #side-cart .inner .title .title-inner .side-cart-close p {
        font-size: 12px; }
    #side-cart .inner .content .content-item.product-container {
      height: calc(100vh - 140px); }
      #side-cart .inner .content .content-item.product-container .product-item {
        padding: 12px 0; }
        #side-cart .inner .content .content-item.product-container .product-item:not(:last-of-type) {
          margin-bottom: 12px; }
        #side-cart .inner .content .content-item.product-container .product-item .remove-cart-item {
          top: 0px;
          right: -10px; }
        #side-cart .inner .content .content-item.product-container .product-item .image-container {
          width: 90px; }
        #side-cart .inner .content .content-item.product-container .product-item .text-container p:nth-of-type(1) {
          font-size: 12px; }
    #side-cart .inner .content .content-item.checkout-container a {
      padding: 12px 20px; }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item {
    width: 100%; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item {
    width: 100%;
    margin-top: 30px;
    padding-left: 0; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .nav-image-item {
      padding: 10px 4px; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .nav-image-item .inner {
        padding: 12px 3px; }
  #content-wrapper #about-page .common-block-container .block.left-block, #content-wrapper #contact-page .common-block-container .block.left-block, #content-wrapper #buy-page .common-block-container .block.left-block {
    display: none; }
  #content-wrapper #about-page .common-block-container .block.right-block, #content-wrapper #contact-page .common-block-container .block.right-block, #content-wrapper #buy-page .common-block-container .block.right-block {
    margin-top: 0; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner img {
    width: 80px; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner p {
    font-size: 14px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner p a {
      display: block; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group.half {
    width: 100%; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group input, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group select, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group textarea {
    padding: 8px 10px; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td {
    display: block;
    padding: 0;
    font-size: 14px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td span:not(:last-of-type) {
      margin-bottom: 2px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td:not(:last-of-type) {
      margin-bottom: 10px; }
  #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tr td {
    font-size: 14px; }
  #content-wrapper #login-page .common-login-section .custom-container {
    width: 100%;
    padding-top: 140px; }
  #content-wrapper #login-page .common-login-section .section-content {
    width: 100%; }
    #content-wrapper #login-page .common-login-section .section-content form .fields .form-group label {
      font-size: 14px; }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-home-logo-section .logo-container {
    padding-top: 40px; }
    .common-home-logo-section .logo-container a img {
      max-width: 170px; }

  .common-product-container {
    margin: -20px -15px; }
    .common-product-container .product-item {
      width: 50%;
      padding: 20px 15px; }
      .common-product-container .product-item .text-container {
        margin-top: 10px; }

  .common-product-breakdown .title {
    margin-bottom: 15px;
    padding-bottom: 10px; }
    .common-product-breakdown .title p {
      font-size: 16px; }
  .common-product-breakdown .content table tr td {
    font-size: 14px; }

  .common-block-container {
    display: block; }
    .common-block-container .block {
      min-height: 10px; }
      .common-block-container .block.left-block {
        width: 100%;
        padding-right: 0;
        border-right: 0; }
        .common-block-container .block.left-block .tab-container, .common-block-container .block.left-block .image-container {
          display: none; }
      .common-block-container .block.right-block {
        width: 100%;
        padding-left: 0;
        margin-top: 30px; }

  .common-select {
    display: block; }
    .common-select select {
      width: 100%;
      background: #d9d9d9;
      padding: 8px 8px;
      border: 1px solid #d9d9d9; }

  .common-cart-style table tbody tr td {
    font-size: 14px; }
    .common-cart-style table tbody tr td:before {
      top: 8px;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); }

  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  .slick-slider .slick-prev {
    left: 30px; }
  .slick-slider .slick-next {
    right: 30px; }

  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal-dialog .modal-content .modal-body {
    padding: 25px 20px; }

  #themaintenancemodal {
    align-items: initial; }
    #themaintenancemodal .modal-dialog {
      width: calc(100% - 30px); }
      #themaintenancemodal .modal-dialog .modal-body {
        padding: 50px 30px; }
    #themaintenancemodal .text-container {
      margin-top: 25px; }
      #themaintenancemodal .text-container h1 {
        font-size: 20px;
        margin-bottom: 10px; }

  #colorSelectModal .modal-dialog {
    width: 100%;
    margin: 50px 25px;
    max-width: calc(100% - 50px); }
  #colorSelectModal .color-modal-container {
    margin: 0 0; }
    #colorSelectModal .color-modal-container .color-modal-item {
      padding: 0 0;
      width: 100%; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) {
        margin-bottom: 30px; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container .square-image {
          height: 150px;
          width: 150px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) {
        height: 290px;
        border-right: 0; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
          margin: -10px -13px; }
          #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li {
            width: 33.33%;
            padding: 10px 13px; }
            #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span:nth-of-type(1) {
              height: 54px;
              width: 54px; }

  /*--------------------------------------- Modal Ends --------------------------------------*/ }

/*# sourceMappingURL=responsive.css.map */
