/**
 * Created by Sushant Gauchan
*/

@import "components/fonts_and_colors";


/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.ex-flex-wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.ex-vertical{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ex-transition{
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.ex-transition-medium{
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.ex-transition-large{
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease;
}
/*--------------------------------------- Mixins Ends -------------------------------------*/

/*------------------------------------ Site Wide Starts -----------------------------------*/
#wrapper{
  overflow: hidden;
  #side-nav {
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 380px;
    right: -400px;
    background: #000000e0;
    overflow: hidden;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
    &.open {
      opacity: 1;
      right: 0;
      height: 100vh;
      transition: all 0.3s ease;
      .side-menu-close{
        .x-close {
          color: #ffffff;
          font-size: 22px;
          margin: 11px;
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }
    .custom-container{
      padding: 20px 20px;
      .side-menu{
        .side-menu-title{
          border-bottom: 3px solid #ffffff57;
          margin-bottom: 30px;
          h2{
            color: #ffffff;
            text-align: center;
          }
        }
        .side-menu-wrapper{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 30px;
          .product-img{
            img{
              max-width: 100%;
              width: 70px;
            }
          }
          .common-side{
            width: 25%;
            color: white;
            &:nth-of-type(2){
              width: 50%;
              text-align: center;
            }
            label{
              margin-bottom: 0px;
              font-weight: 500;
              font-size: 14px;
            }
            i{
              color: #ffffff;
            }
          }
          .item-delete-btn{
            text-align: right;
          }
        }
      }
      .go-to-cart-btn{
        position: absolute;
        bottom: 15px;
        text-align: center;
        right: 40%;
        .btn-default{
          border: none;
          border-radius: 0;
          &:hover{
            background: #6b1f2a;
            color: #ffffff;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
body{
  &.home-page,&.login-page{
    #header-wrapper{
      z-index: 2;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      .logo-nav-wrapper{
        padding: 38px 0 20px;
        margin-bottom: 35px;
        .logo-container{
          display: none;
        }
        .nav-container{
          padding-left: 0;
        }
      }
    }
    #content-wrapper{
      padding-bottom: 0;
    }

    #footer-wrapper{
      display: none;
    }
  }

  &.login-page{
    #header-wrapper{
      display: none;
    }
  }

  &.cart-open{
    #side-cart{
      right: 0;
      @extend .ex-transition;
    }

    .main-overlay{
      opacity: 1;
      pointer-events: initial;
      @extend .ex-transition;
    }
  }
}


/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper{
  .logo-nav-wrapper{
    width: 100%;
    padding: 57px 0 20px;
    border-bottom: 2px solid  $primary-color;
    @extend .ex-flex;
    @extend .ex-flex-wrap;
    align-items: center;
    .logo-container{
      a{
        display: inline-block;
      }
      img{
        width: 180px;
        height: auto;
      }
    }

    .nav-container{
      padding: 0 20px 0 60px;
      flex: 1;
      position: relative;
      .inner{
        position: relative;
        .navigation-item{
          pointer-events: initial;
          opacity: 1;
          @extend .ex-transition;
          ul{
            li{
              display: inline-block;
              a{
                font-family: $font-type-1;
                font-size: 22px;
                font-weight: 100;
                color: $font-color;
              }
              &:not(:last-of-type){
                margin-right: 30px;
              }
              &.active{
                a{
                  color: $primary-color;
                }
              }
            }
          }
        }
        .search-form-item{
          pointer-events: none;
          opacity: 0;
          position: absolute;
          left: 0;
          right: 0;
          width: 0;
          margin: auto;
          @extend .ex-vertical;
          @extend .ex-transition;
          form{
            outline: none;
            margin: 0;
            input{
              width: 100%;
              border: 1px solid $primary-color;
              border-radius: 20px;
              padding: 10px 14px;
              font-size: 14px;
              outline: none;
            }
          }
          .close-search{
            display: none;
          }
        }
      }

    }

    .button-container{
      ul{
        position: relative;
        li{
          position: relative;
          font-family: $font-type-1;
          color: $font-color;
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          img{
            width: 25px;
          }
          a{
            font-family: $font-type-1;
            color: $font-color;
            .fa{
              padding-right: 5px;
            }
          }
          .cart-num{
            width: 18px;
            height: 18px;
            border-radius: 100%;
            line-height: 20px;
            text-align: center;
            background-color: $primary-color;
            color: #fff;

            position: absolute;
            top: -6px;
            right: -10px;
            font-size: 10px;

          }
          &:not(:first-of-type){
            margin-left: 20px;
          }

          &#nav-toggle{
            display: none;
          }
        }

      }
    }

  }

  &.search-open{
    .logo-nav-wrapper{
      .nav-container{
        .inner{
          .navigation-item{
            pointer-events: none;
            opacity: 0;
            @extend .ex-transition;
          }
          .search-form-item{
            pointer-events: initial;
            opacity: 1;
            width: 100%;
            @extend .ex-transition;
          }
        }
      }
    }
  }
}
#side-cart{
  z-index: 10;

  position: fixed;
  height: 100vh;
  width: 400px;
  top: 0;
  right: -450px;

  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(43,45,49,.15), 0 0 40px 0 rgba(43,45,49,.25);
  @extend .ex-transition;
  .inner{
    .title{
      position: relative;
      background-color: #f7f8f9;
      padding: 20px 20px 16px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
      .title-inner{
        position: relative;
        h1{
          font-size: 16px;
          font-weight: bold;
        }
        .side-cart-close{
          cursor: pointer;
          position: absolute;
          @extend .ex-vertical;
          top: 35%;
          right: 0;
          p{
            font-size: 14px;
            color: $primary-color;
            font-weight: bold;
          }
        }
      }

    }

    .content{
      .content-item{
        padding: 25px 20px;
        &.product-container{
          height: calc(100vh - 150px);
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 2px;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px $grey-color;
            -webkit-border-radius: 10px;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: $primary-color;
            -webkit-box-shadow: inset 0 0 6px $primary-color;
          }
          &::-webkit-scrollbar-thumb:window-inactive {
            background: $primary-color;
          }
          .product-item{
            padding: 15px 0;
            position: relative;
            @extend .ex-flex;
            @extend .ex-flex-wrap;
            &:not(:last-of-type){
              margin-bottom: 20px;
              border-bottom: 1px solid rgba(204, 204, 204, 0.33);
            }

            .image-container{
              width: 120px;
              img{
                max-width: 100%;
              }
            }
            .text-container{
              width: calc(100% - 120px);
              padding-left: 20px;
              text-align: left;
              p{
                &:nth-of-type(1){
                  color: black;
                  font-weight: bold;
                  font-size: 16px;
                  margin-bottom: 4px;
                  text-align: left;
                }
                &:nth-of-type(2){
                  font-size: 14px;
                  color: black;
                }
              }
            }
            .remove-cart-item{
              position: absolute;
              top: -10px;
              right: 0;
              a{
                display: block;
                height: 20px;
                width: 20px;
                line-height: 16px;
                border-radius: 100%;
                font-size: 16px;
                color: $primary-color;
                border: 1px solid $primary-color;
                text-align: center;
              }
            }
          }
        }
        &.checkout-container{
          a{
            font-size: 14px;
            display: block;
            padding: 14px 20px;
            background: $primary-color;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }

    }
  }
}
.main-overlay{
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
  @extend .ex-transition;

}
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper{
  padding-bottom: 80px;
  #home-page{
    .home-banner-section{
      .home-banner-slider{
        .banner-item{
          height: calc(100vh - 114px);
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #ccc;
          overflow: hidden;
          video,iframe{
            pointer-events: none;
            object-fit: cover;
            object-position: center;
            position: absolute;
            height: 120%;
            width: 120%;
            top: -5%;
            left: -5%;
          }
        }
      }

      .home-banner-slider-mobile{
        display: none;
        .banner-item-mobile{
          img{
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  #product-detail-page{
    .product-detail-section{
      .product-detail-wrapper{
        @extend .ex-flex;
        @extend .ex-flex-wrap;
        .detail-block{
          &.description-item{
            width: 20%;
            .main-description{
              .title{
                margin-bottom: 20px;
              }
            }
          }
          &.image-item{
            width: calc(100% - (20% + 160px));
            padding: 0 30px;
            text-align: center;
            .product-image-main{
              .product-image-main-item{
                height: auto !important;
                text-align: center;
                img{
                  width: 100%;
                  height: auto;
                  max-width: 100%;
                  margin: auto;
                }
              }

            }

            .product-image-nav-container{
              max-width: 100%;
              width: 520px;
              margin: auto;
              .product-image-nav{
                margin-top: 20px;
                .slick-track{
                  margin: auto;
                }
                .nav-image-item{
                  height: auto!important;
                  cursor: pointer;
                  padding: 10px 10px;
                  width: 25%;
                  .inner{
                    border: 1px solid $primary-color;
                    padding: 12px 4px;
                    img{
                      max-width: 100%;
                    }
                  }
                }
              }
            }
            /*      .product-image-slider{
                    .product-image-item{
                      text-align: center;
                      height: auto!important;
                      img{
                        width: 600px;
                        height: auto;
                        max-width: 100%;
                        margin: auto;
                      }
                    }
                  }
                  .product-image-nav{
                    margin-top: 20px;
                    .slick-track{
                      margin: auto;
                    }
                    .nav-image-item{
                      height: auto!important;
                      cursor: pointer;
                      padding: 10px 15px;
                      .inner{
                        border: 1px solid $primary-color;
                        img{
                          max-width: 100%;
                        }
                      }
                    }
                  }*/
          }
          &.purchase-item{
            width: 160px;
            form{
              .fields{
                .form-group{
                  margin-bottom: 0;
                  &:not(:last-of-type){
                    margin-bottom: 20px;
                  }
                  label{
                    display: block;
                    font-size: 16px;
                    margin-bottom: 8px;
                    font-weight: 300;
                  }
                  input,select,a{
                    text-align: left;
                    border-radius: 0;
                    width: 100%;
                    font-size: 14px;
                    padding: 8px 15px;
                    color: $font-color;
                    font-weight: 100;
                    background-color: $grey-color;
                    border: 0;
                  }

                  .selected-color-container{
                    #colorDisplay{
                      margin-top: 20px;
                      margin-bottom: 10px;
                      padding-bottom: 10px;
                      border-bottom: 1px solid #ddd;
                      color: $primary-color;
                      font-weight: bold;
                    }

                    table{
                      width: 100%;
                      tr{
                        &:nth-of-type(1){
                          td{
                            border-top: 0;
                          }
                        }
                        td{
                          padding: 8px 0;
                          vertical-align: middle;
                          &:nth-of-type(1){
                            font-weight: bold;
                            font-size: 14px;
                          }
                          &:nth-of-type(2){
                            img{
                              width: 33px;
                              height: 34px;
                              position: relative;
                              bottom: 0px;
                            }
                          }
                          &:last-of-type{
                            a{
                              background: $primary-color;
                              color: #fff;
                              padding: 3px 8px;
                              font-size: 14px;
                            }
                          }
                        }
                      }
                    }

                  }

                }
              }

              .form-action{
                margin-top: 40px;
                .um-btn{

                }
              }
            }
            .common-product-breakdown{
              display: none;
            }
          }
        }
      }
    }
  }

  #about-cashmere-page{
    .common-block-container .block.right-block{
      .tab-content{
        #page_2,#page_3{
          .content{
            h1{
              &:first-of-type{
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
  }

  #process-page{
    .common-block-container{
      .block{
        &.left-block{
          .tab-container{
            ul{
              li{
                &:nth-of-type(1){
                  a{
                    font-weight: bold;
                    &:after{
                      display: none !important;
                    }
                  }
                }
              }
            }
          }
        }

        &.right-block{
          .content{
            .inner-block{
              @extend .ex-flex;
              @extend .ex-flex-wrap;
              margin: 0 -40px;
              .block-item{
                padding: 0px 40px;
                &.inner-image{
                  float: left;
                  width: 50%;
                  position: relative;
                  &:after{
                    content: '';
                    height: calc(100% + 50px);
                    top: -25px;
                    width: 1px;
                    background: $primary-color;
                    position: absolute;
                    right: 0;
                  }

                  .process-main-slider{
                    .process-item{
                      height: auto !important;
                      .inner{
                        position: relative;
                        .holder-image{
                          width: 100%;
                          height: auto;
                          max-width: 100%;
                        }

                        .display-image,video,iframe{
                          position: absolute;
                          top: 0;
                          left: 0;
                          height: 100%;
                          width: 100%;
                          object-fit: cover;
                          object-position: center;
                        }
                      }

                    }
                  }

                  .process-nav-outer{
                    margin-top: 20px;
                    position: relative;
                    .process-nav-slider{
                      margin: 0 -5px;
                      .process-nav-item {
                        width: 25%;
                        padding: 0 5px;
                        cursor: pointer;
                        height: auto !important;
                        .inner{
                          position: relative;
                          background-color: #ccc;
                          .holder-image{
                            width: 100%;
                            height: auto;
                            max-width: 100%;
                          }

                          .display-image,video,iframe{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                          }
                        }
                      }
                    }
                  }

                }
                &.inner-text{
                  float: left;
                  width: 50%;
                  h1{
                    text-align: center;
                    margin-bottom: 28px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #contact-page{
    .common-block-container{
      .block.right-block{
        .content{
          .contact-item{
            ul{
              li{
                &:not(:last-of-type){
                  margin-bottom: 8px;
                }
                img{
                  max-width: 185px;
                }
              }
            }
            &:not(:last-of-type){
              margin-bottom: 35px;
            }

          }
        }
      }
    }
  }

  #buy-page{
    .buy-section{
      .location-container{
        @extend .ex-flex;
        @extend .ex-flex-wrap;

        margin: -25px -20px;
        .location-item{
          width: 33.33%;
          padding: 25px 20px;
          .content{
            .image-container{
              a{
                display: block;
              }
              img{
                width: 170px;
                max-width: 100%;
                height: auto;
              }
              p{
                margin: 20px 0 15px;
                font-size: 18px;
                font-weight: 400;
                color: black;
              }
            }

            ul{
              li{
                color: #636b6f;
                &:not(:last-of-type) {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  #login-page{
/*    @extend .ex-flex;
    @extend .ex-flex-wrap;
    min-height: calc(100vh - 116px);
    align-items: center;
    justify-content: center;*/
    background-size: cover;
    background-position: center;
    .common-login-section{
      @extend .ex-flex;
      @extend .ex-flex-wrap;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      .custom-container{
        padding-top: 180px;
      }
      .section-content{
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.67);
        width: 400px;
        margin: auto;
        .title{
          margin-bottom: 25px;
          color: #fff;
          h2{
            font-size: 24px;
          }
        }
        form{
          margin-bottom: 0;
          .fields{
            .form-group{
              input{
                width: 100%;
                box-shadow: none;
                border: 0;
                padding: 6px 10px;
                background-color: rgb(255, 255, 255);
              }
              label{
                font-weight: 400;
                font-size: 15px;
                color: rgba(255, 255, 255, 0.95);
                margin-bottom: 8px;
                display: block;
              }
              &.remember-me{
                label{
                  @extend .ex-flex;
                  span{
                    display: block;
                    input{
                      width: 25px;
                    }
                  }
                }
              }
              &.sign-up{
                p{
                  text-align: right;
                  font-size: 14px;
                  color: rgba(255, 255, 255, 0.73);
                }
              }
            }
          }

          .form-action{
            margin-top: 20px;
            .um-btn{
              background-color: #b7282e;
              color: #fff;
              &:not(:last-of-type){
                margin-bottom: 16px;
              }
            }
          }

        }
      }
    }
  }

  #cart-page{
    .cart-page-section{
      position: relative;

      .wizard{
        .wizard-inner{
          pointer-events: none;
          visibility: hidden;
          position: absolute;
          top: 0;
          right: 0;
        }

        .common-checkout-section{
          .title{
            margin-bottom: 30px;
            h1{
              font-size: 30px;
              font-weight: 600;
              text-transform: uppercase;
              text-align: center;
              color: #ba3036;
            }
          }
          &.cart-block{
            .empty-cart-container{
              height: calc(100vh - 300px);
              text-align: center;
              @extend .ex-flex;
              @extend .ex-flex-wrap;
              align-items: center;
              justify-content: center;
              .inner{
                img{
                  max-width: 100%;
                }
                p{
                  color: $primary-color;
                  font-size: 18px;
                  font-weight: bold;
                  margin-top: 20px;
                  text-align: center;
                  a{
                    font-weight: 400;
                  }
                }
              }
            }
            .button-container{
              margin-top: 25px;
              text-align: right;
              .um-btn{
                display: inline-block;
              }
            }
          }
          &.form-block{
            form{
              .fields{
                @extend .ex-flex;
                @extend .ex-flex-wrap;
                margin: 0 -12px;
                .form-group{
                  width: 100%;
                  padding: 0 12px;
                  &:not(:last-of-type){
                    margin-bottom: 20px;
                  }
                  &.half{
                    width: 50%;
                  }
                  label{
                    display: block;
                    margin-bottom: 10px;
                  }
                  input,textarea,select{
                    width: 100%;
                    border: 1px solid #b9b9b9;
                    padding: 10px 10px;
                    font-size: 14px;
                  }
                  textarea{
                    height: 150px;
                  }
                }
              }
              .form-action{
                text-align: right;
                ul{
                  li{
                    display: inline-block;
                    vertical-align: top;
                    &:not(:last-of-type){
                      padding-right: 10px;
                    }
                  }
                }
              }
            }
          }
          &.thankyou-section{
            .thankyou-text{
              text-align: center;
              h1{
                font-weight: bold;
                color: $primary-color;
              }
            }
            .order-number-container{
              margin: 30px 0 40px;
              table{
                margin: auto;
                text-align: center;
                tr{
                  td{
                    padding: 0 30px;
                    span{
                      display: block;
                      width: 100%;
                      &:not(:last-of-type){
                        margin-bottom: 5px;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
            .product-list-container{
              table{
                width: 100%;
                tr{
                  td{
                    padding: 10px;
                    img{
                      max-width: 100%;
                      width: 150px;
                    }
                  }
                }

                thead{
                  background-color: $primary-color;
                  td{
                    color: #fff;
                    font-weight: bold;
                  }
                }
                tbody{
                  tr{
                    &:not(:last-of-type){
                      border-bottom: 1px solid rgba(204, 204, 204, 0.54);
                    }
                    td{
                      span{
                        display: block;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
/*--------------------------------- Content Wrapper Ends ----------------------------------*/


/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .copyright{
    padding: 28px 0;
    border-top: 2px solid $primary-color;
  }
}
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/


/*----------------------------------- Components Starts -----------------------------------*/
.common-home-logo-section{
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  .logo-container{
    padding-top: 60px;
    a{
      display: inline-block;
      vertical-align: top;
      img{
        width: 300px;
        height: auto;
      }
    }
  }
}
.common-product-container{
  @extend .ex-flex;
  @extend .ex-flex-wrap;
  margin: -20px -30px;
  .product-item{
    width: 16.66%;
    padding: 20px 30px;
    a{
      display: block;
    }
    .image-container{
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      img{
        width: 100%;
        height: auto;
      }
    }

    .text-container{
      text-align: center;
      margin-top: 14px;
      padding-top: 16px;
      position: relative;
      &:after{
        content: '';
        height: 1px;
        width: 80%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      p{
        font-family: $font-type-1;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.4em;
        color: $font-color;
        text-align: center;
      }
    }

  }
}
.common-block-container{
  @extend .ex-flex;
  @extend .ex-flex-wrap;
  .block{
    height: calc(100vh - 332px);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px $grey-color;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: $primary-color;
      -webkit-box-shadow: inset 0 0 6px $primary-color;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: $primary-color;
    }
    &.left-block{
      width: 300px;
      position: relative;
      padding-right: 50px;
      &:after{
        content: '';
        height: 100%;
        width: 3px;
        background-color: $grey-color;

        position: absolute;
        right: -3px;
        top: 0;
      }
      .tab-container{
        margin-bottom: 30px;
        ul{
          li{
            position: relative;
            display: block;
            float: none;
            &:not(:last-of-type){
              margin-bottom: 15px;
            }
            &.active{
              a{
                font-weight: bold;
              }
            }
            a{
              display: block;
              text-transform: uppercase;
              position: relative;

              color: $font-color;
              padding-left: 25px;
              &:after{
                content: '';
                height: 6px;
                width: 6px;
                border-radius: 100%;
                background-color: $primary-color-pink;

                position: absolute;
                left: 0;
                top: 10px;
              }
            }
          }
        }
      }

      .image-container{
        .image-item{
          img{
            width: 100%;
            height: auto;
            box-shadow: 2px 2px 10px #9c9c9c;
          }
          &:not(:last-of-type){
            margin-bottom: 35px;
          }
        }
      }

    }
    &.right-block{
      position: relative;
      width: calc(100% - 300px);
      padding-left: 40px;
      padding-right: 30px;
      .tab-content > .tab-pane {
        display: block;
        max-height: 0px;
        height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: opacity 1s ease-in-out;
      }
      .tab-content > .active {
        height: auto;
        max-height: 5000px;
        opacity: 1;
        pointer-events: initial;
        transition: opacity 1s ease-in-out;
      }

      .content{
        h1{
          margin: 40px 0 15px;
          &:first-of-type{
            margin-top: 0;
          }
        }
      }
    }
  }

}
.common-product-breakdown{
  margin-top: 40px;
  .title{
    text-align: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 2px solid $primary-color;
    p{
      font-weight: 100;
    }
  }
  .content{
    padding: 0 20px;
    table{
      tr{
        td{
          color: $font-color;
          font-weight: 300;
          padding: 8px 22px;
          vertical-align: top;
          &:nth-of-type(1){
            position: relative;
            &:after{
              content: '';
              height: 8px;
              width: 8px;
              border-radius: 100%;
              background-color: $primary-color-pink;
              position: absolute;
              left: 0;
              top: 16px;
            }
          }
        }
        &:last-of-type{
          td{
            font-weight: bold;
          }
        }
      }
    }
  }
}
.common-remove-tab-style{
  border-bottom: 0;
  li{
    a{
      padding: 0;
      background-color: transparent;
      border: 0;
      &:focus, &:hover {
        background-color: transparent;
        border: 0;
      }
    }

    &.active{
      a{
        background-color: transparent;
        border: 0;
        &:focus,&:hover{
          background-color: transparent;
          border: 0;
        }
      }
    }
  }
}

.common-select{
  display: none;
}
.common-cart-style{
  table{
    width: 100%;
    tr{
      td,th{
        padding: 20px 20px;
        vertical-align: top;
      }
      th{
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    thead{
      background-color: $primary-color;
      th{
        color: #fff;
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid $grey-color;
        td{
          img{
            max-width: 100%;
            width: 110px;
            height: auto;
          }
          &.actions{
            button{
              display: inline-block;
              height: 20px;
              width: 20px;
              line-height: 16px;
              border-radius: 100%;
              font-size: 16px;
              color: #b61f2a;
              border: 1px solid #b61f2a;
              text-align: center;
              padding: 0;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.cart-small-width{
  width: 800px;
  max-width: 100%;
  margin: auto;
}
.lightboxOverlay{
  background-color: #fff !important;
  opacity: 1 !important;
}
.lb-dataContainer{
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  padding-right: 30px;
  .lb-details{
    display: none !important;
  }
}
/*------------------------------------ Components Ends ------------------------------------*/


/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider{
  .slick-prev,.slick-next{
    z-index: 1;
    height: 50px;
    width: 24px;
    &:before{
      content: '';
      height: 40px;
      width: 24px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      right: 0;
      margin: auto;
      background-position: center;
    }
  }

  .slick-prev{
    left: 140px;
    &:before{
      background-image: url('../img/logo/arrow_left.png');
    }
  }

  .slick-next{
    right: 140px;
    &:before{
      background-image: url('../img/logo/arrow_right.png');
    }
  }
}

.process-main-slider .process-item:not(:first-of-type),
.product-image-main .product-image-main-item:not(:first-of-type),
.product-image-nav .nav-image-item:not(:first-of-type),
.process-nav-slider .process-nav-item:not(:first-of-type){
  display: none;
}
.process-main-slider.slick-initialized .process-item,
.product-image-main.slick-initialized .product-image-main-item,
.product-image-nav.slick-initialized .nav-image-item,
.process-nav-slider.slick-initialized .process-nav-item{
  display: block;
}
/*----------------------------------- Slick Slider Ends -----------------------------------*/


/*------------------------------------- Nav Tab Starts ------------------------------------*/

/*-------------------------------------- Nav Tab Ends -------------------------------------*/


/*-------------------------------------- Modal Starts -------------------------------------*/
.modal-dialog{
  margin: 70px auto;
  .modal-header{
    padding: 0;
    border: 0;
    button{
      position: absolute;
      top: -30px;
      right: 0;
      color: #fff;
      opacity: 1;
    }
  }
  .modal-content{
    border-radius: 0;
    .modal-body{
      padding: 30px 26px;
      .modal-loading-gif{
        height: 130px;
        position: relative;
        img{
          width: 30px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top:50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }
      p,h1,h2,h3,h4,h5,h6,ul li,ol li,span{
        color: #fff;
      }
    }
  }
}

#colorSelectModal{
  .modal-dialog{
    width: 100%;
    margin: 50px;
    max-width: calc(100% - 100px);
  }
  .title{
    margin-bottom: 20px;
    h1{
      font-size: 18px;
      color: $font-color;
      font-weight: 400;
    }
  }
  .color-modal-container{
    @extend .ex-flex;
    @extend .ex-flex-wrap;
    margin: 0 -30px;
    .color-modal-item{
      width: 50%;
      padding: 0 30px;
      position: relative;
      &:nth-of-type(2){
        .color-status{
          margin-bottom: 20px;
          p{
            text-align: center;
            color: $font-color;
            font-weight: 300;
          }
        }

        .image-container{
          text-align: center;
          .square-image{
            height: 350px;
            width: 350px;
            margin: auto;
            img{
              object-fit: contain;
              object-position:center;
              height: 100%;
              width: 100%;
            }
          }

          ul{
            li{
              display: inline-block;
              vertical-align: top;
              color: $font-color;
              &:nth-of-type(1){
                font-weight: bold;
              }
              &:nth-of-type(2){
                font-weight: 300;
              }
            }
          }
        }

        .button-container{
          margin-top: 25px;
        }

        .note-container{
          margin-top: 20px;
          p,ul li{
            font-size: 14px;
            color: $font-color;
          }
          p{
            font-weight: bold;
            margin-bottom: 8px;
          }
          ul{
            padding-left: 20px;
            li{
              font-weight: 300;
              list-style: disc;
            }
          }
        }
      }

      &:nth-of-type(1){
        height: calc(100vh - 202px);
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px $grey-color;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: $primary-color;
          -webkit-box-shadow: inset 0 0 6px $primary-color;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: $primary-color;
        }
        ul{
          @extend .ex-flex;
          @extend .ex-flex-wrap;
          margin: -10px -13px;
          li{
            width: 20%;
            cursor: pointer;
            text-align: center;
            padding: 10px 13px;
            display: inline-block;
            vertical-align: top;
            span{
              display: block;
              &:nth-of-type(1){
                height: 90px;
                width: 90px;
                margin: auto;
                img{
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
              &:nth-of-type(2){
                color: #6f6c6c;
                font-size: 15px;
                font-weight: 100;
                margin-top: 5px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

#themaintenancemodal{
  .modal-dialog{
    width: 800px;
    .modal-body{
      padding: 100px 40px;
    }
  }
  .image-container{
    text-align: center;
    img{
      max-width: 100%;
      width: 480px;
      height: auto;
      margin: auto;
    }
  }
  .text-container{
    margin-top: 40px;
    text-align: center;
    h1,p{
      color: $font-color;
      text-align: center;
    }
    h1{
      font-size: 30px;
      margin-bottom: 6px;
    }
  }

}

.ajs-message.ajs-success{
color: #fff;
}
/*--------------------------------------- Modal Ends --------------------------------------*/