/**
 * Created by Sushant Gauchan
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex, #header-wrapper .logo-nav-wrapper, #side-cart .inner .content .content-item.product-container .product-item, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block, #content-wrapper #buy-page .buy-section .location-container, #content-wrapper #login-page .common-login-section, #content-wrapper #login-page .common-login-section .section-content form .fields .form-group.remember-me label, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields, .common-product-container, .common-block-container, #colorSelectModal .color-modal-container, #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap, #header-wrapper .logo-nav-wrapper, #side-cart .inner .content .content-item.product-container .product-item, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block, #content-wrapper #buy-page .buy-section .location-container, #content-wrapper #login-page .common-login-section, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields, .common-product-container, .common-block-container, #colorSelectModal .color-modal-container, #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical, #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item, #side-cart .inner .title .title-inner .side-cart-close {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition, body.cart-open #side-cart, body.cart-open .main-overlay, #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item, #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item, #header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .navigation-item, #header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .search-form-item, #side-cart, .main-overlay {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex, #header-wrapper .logo-nav-wrapper, #side-cart .inner .content .content-item.product-container .product-item, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block, #content-wrapper #buy-page .buy-section .location-container, #content-wrapper #login-page .common-login-section, #content-wrapper #login-page .common-login-section .section-content form .fields .form-group.remember-me label, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields, .common-product-container, .common-block-container, #colorSelectModal .color-modal-container, #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap, #header-wrapper .logo-nav-wrapper, #side-cart .inner .content .content-item.product-container .product-item, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block, #content-wrapper #buy-page .buy-section .location-container, #content-wrapper #login-page .common-login-section, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields, .common-product-container, .common-block-container, #colorSelectModal .color-modal-container, #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical, #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item, #side-cart .inner .title .title-inner .side-cart-close {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition, body.cart-open #side-cart, body.cart-open .main-overlay, #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item, #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item, #header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .navigation-item, #header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .search-form-item, #side-cart, .main-overlay {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
#wrapper {
  overflow: hidden; }
  #wrapper #side-nav {
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 380px;
    right: -400px;
    background: #000000e0;
    overflow: hidden;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease; }
    #wrapper #side-nav.open {
      opacity: 1;
      right: 0;
      height: 100vh;
      transition: all 0.3s ease; }
      #wrapper #side-nav.open .side-menu-close .x-close {
        color: #ffffff;
        font-size: 22px;
        margin: 11px;
        cursor: pointer;
        margin-left: 15px; }
    #wrapper #side-nav .custom-container {
      padding: 20px 20px; }
      #wrapper #side-nav .custom-container .side-menu .side-menu-title {
        border-bottom: 3px solid #ffffff57;
        margin-bottom: 30px; }
        #wrapper #side-nav .custom-container .side-menu .side-menu-title h2 {
          color: #ffffff;
          text-align: center; }
      #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px; }
        #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .product-img img {
          max-width: 100%;
          width: 70px; }
        #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .common-side {
          width: 25%;
          color: white; }
          #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .common-side:nth-of-type(2) {
            width: 50%;
            text-align: center; }
          #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .common-side label {
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 14px; }
          #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .common-side i {
            color: #ffffff; }
        #wrapper #side-nav .custom-container .side-menu .side-menu-wrapper .item-delete-btn {
          text-align: right; }
      #wrapper #side-nav .custom-container .go-to-cart-btn {
        position: absolute;
        bottom: 15px;
        text-align: center;
        right: 40%; }
        #wrapper #side-nav .custom-container .go-to-cart-btn .btn-default {
          border: none;
          border-radius: 0; }
          #wrapper #side-nav .custom-container .go-to-cart-btn .btn-default:hover {
            background: #6b1f2a;
            color: #ffffff;
            transition: all 0.3s ease; }

body.home-page #header-wrapper, body.login-page #header-wrapper {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%; }
  body.home-page #header-wrapper .logo-nav-wrapper, body.login-page #header-wrapper .logo-nav-wrapper {
    padding: 38px 0 20px;
    margin-bottom: 35px; }
    body.home-page #header-wrapper .logo-nav-wrapper .logo-container, body.login-page #header-wrapper .logo-nav-wrapper .logo-container {
      display: none; }
    body.home-page #header-wrapper .logo-nav-wrapper .nav-container, body.login-page #header-wrapper .logo-nav-wrapper .nav-container {
      padding-left: 0; }
body.home-page #content-wrapper, body.login-page #content-wrapper {
  padding-bottom: 0; }
body.home-page #footer-wrapper, body.login-page #footer-wrapper {
  display: none; }
body.login-page #header-wrapper {
  display: none; }
body.cart-open #side-cart {
  right: 0; }
body.cart-open .main-overlay {
  opacity: 1;
  pointer-events: initial; }

/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper .logo-nav-wrapper {
  width: 100%;
  padding: 57px 0 20px;
  border-bottom: 2px solid #b61f2a;
  align-items: center; }
  #header-wrapper .logo-nav-wrapper .logo-container a {
    display: inline-block; }
  #header-wrapper .logo-nav-wrapper .logo-container img {
    width: 180px;
    height: auto; }
  #header-wrapper .logo-nav-wrapper .nav-container {
    padding: 0 20px 0 60px;
    flex: 1;
    position: relative; }
    #header-wrapper .logo-nav-wrapper .nav-container .inner {
      position: relative; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item {
        pointer-events: initial;
        opacity: 1; }
        #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li {
          display: inline-block; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li a {
            font-family: "Josefin Sans", sans-serif;
            font-size: 22px;
            font-weight: 100;
            color: #101010; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li:not(:last-of-type) {
            margin-right: 30px; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .navigation-item ul li.active a {
            color: #b61f2a; }
      #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        width: 0;
        margin: auto; }
        #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item form {
          outline: none;
          margin: 0; }
          #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item form input {
            width: 100%;
            border: 1px solid #b61f2a;
            border-radius: 20px;
            padding: 10px 14px;
            font-size: 14px;
            outline: none; }
        #header-wrapper .logo-nav-wrapper .nav-container .inner .search-form-item .close-search {
          display: none; }
  #header-wrapper .logo-nav-wrapper .button-container ul {
    position: relative; }
    #header-wrapper .logo-nav-wrapper .button-container ul li {
      position: relative;
      font-family: "Josefin Sans", sans-serif;
      color: #101010;
      display: inline-block;
      vertical-align: top;
      cursor: pointer; }
      #header-wrapper .logo-nav-wrapper .button-container ul li img {
        width: 25px; }
      #header-wrapper .logo-nav-wrapper .button-container ul li a {
        font-family: "Josefin Sans", sans-serif;
        color: #101010; }
        #header-wrapper .logo-nav-wrapper .button-container ul li a .fa {
          padding-right: 5px; }
      #header-wrapper .logo-nav-wrapper .button-container ul li .cart-num {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        line-height: 20px;
        text-align: center;
        background-color: #b61f2a;
        color: #fff;
        position: absolute;
        top: -6px;
        right: -10px;
        font-size: 10px; }
      #header-wrapper .logo-nav-wrapper .button-container ul li:not(:first-of-type) {
        margin-left: 20px; }
      #header-wrapper .logo-nav-wrapper .button-container ul li#nav-toggle {
        display: none; }
#header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .navigation-item {
  pointer-events: none;
  opacity: 0; }
#header-wrapper.search-open .logo-nav-wrapper .nav-container .inner .search-form-item {
  pointer-events: initial;
  opacity: 1;
  width: 100%; }

#side-cart {
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 400px;
  top: 0;
  right: -450px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(43, 45, 49, 0.15), 0 0 40px 0 rgba(43, 45, 49, 0.25); }
  #side-cart .inner .title {
    position: relative;
    background-color: #f7f8f9;
    padding: 20px 20px 16px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05); }
    #side-cart .inner .title .title-inner {
      position: relative; }
      #side-cart .inner .title .title-inner h1 {
        font-size: 16px;
        font-weight: bold; }
      #side-cart .inner .title .title-inner .side-cart-close {
        cursor: pointer;
        position: absolute;
        top: 35%;
        right: 0; }
        #side-cart .inner .title .title-inner .side-cart-close p {
          font-size: 14px;
          color: #b61f2a;
          font-weight: bold; }
  #side-cart .inner .content .content-item {
    padding: 25px 20px; }
    #side-cart .inner .content .content-item.product-container {
      height: calc(100vh - 150px);
      overflow-y: scroll; }
      #side-cart .inner .content .content-item.product-container::-webkit-scrollbar {
        width: 2px; }
      #side-cart .inner .content .content-item.product-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #d9d9d9;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      #side-cart .inner .content .content-item.product-container::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #b61f2a;
        -webkit-box-shadow: inset 0 0 6px #b61f2a; }
      #side-cart .inner .content .content-item.product-container::-webkit-scrollbar-thumb:window-inactive {
        background: #b61f2a; }
      #side-cart .inner .content .content-item.product-container .product-item {
        padding: 15px 0;
        position: relative; }
        #side-cart .inner .content .content-item.product-container .product-item:not(:last-of-type) {
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(204, 204, 204, 0.33); }
        #side-cart .inner .content .content-item.product-container .product-item .image-container {
          width: 120px; }
          #side-cart .inner .content .content-item.product-container .product-item .image-container img {
            max-width: 100%; }
        #side-cart .inner .content .content-item.product-container .product-item .text-container {
          width: calc(100% - 120px);
          padding-left: 20px;
          text-align: left; }
          #side-cart .inner .content .content-item.product-container .product-item .text-container p:nth-of-type(1) {
            color: black;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 4px;
            text-align: left; }
          #side-cart .inner .content .content-item.product-container .product-item .text-container p:nth-of-type(2) {
            font-size: 14px;
            color: black; }
        #side-cart .inner .content .content-item.product-container .product-item .remove-cart-item {
          position: absolute;
          top: -10px;
          right: 0; }
          #side-cart .inner .content .content-item.product-container .product-item .remove-cart-item a {
            display: block;
            height: 20px;
            width: 20px;
            line-height: 16px;
            border-radius: 100%;
            font-size: 16px;
            color: #b61f2a;
            border: 1px solid #b61f2a;
            text-align: center; }
    #side-cart .inner .content .content-item.checkout-container a {
      font-size: 14px;
      display: block;
      padding: 14px 20px;
      background: #b61f2a;
      color: #fff;
      text-align: center;
      text-transform: uppercase; }

.main-overlay {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none; }

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper {
  padding-bottom: 80px; }
  #content-wrapper #home-page .home-banner-section .home-banner-slider .banner-item {
    height: calc(100vh - 114px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ccc;
    overflow: hidden; }
    #content-wrapper #home-page .home-banner-section .home-banner-slider .banner-item video, #content-wrapper #home-page .home-banner-section .home-banner-slider .banner-item iframe {
      pointer-events: none;
      object-fit: cover;
      object-position: center;
      position: absolute;
      height: 120%;
      width: 120%;
      top: -5%;
      left: -5%; }
  #content-wrapper #home-page .home-banner-section .home-banner-slider-mobile {
    display: none; }
    #content-wrapper #home-page .home-banner-section .home-banner-slider-mobile .banner-item-mobile img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item {
    width: 20%; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.description-item .main-description .title {
      margin-bottom: 20px; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item {
    width: calc(100% - (20% + 160px));
    padding: 0 30px;
    text-align: center;
    /*      .product-image-slider{
            .product-image-item{
              text-align: center;
              height: auto!important;
              img{
                width: 600px;
                height: auto;
                max-width: 100%;
                margin: auto;
              }
            }
          }
          .product-image-nav{
            margin-top: 20px;
            .slick-track{
              margin: auto;
            }
            .nav-image-item{
              height: auto!important;
              cursor: pointer;
              padding: 10px 15px;
              .inner{
                border: 1px solid $primary-color;
                img{
                  max-width: 100%;
                }
              }
            }
          }*/ }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-main .product-image-main-item {
      height: auto !important;
      text-align: center; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-main .product-image-main-item img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: auto; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container {
      max-width: 100%;
      width: 520px;
      margin: auto; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav {
        margin-top: 20px; }
        #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .slick-track {
          margin: auto; }
        #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .nav-image-item {
          height: auto !important;
          cursor: pointer;
          padding: 10px 10px;
          width: 25%; }
          #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .nav-image-item .inner {
            border: 1px solid #b61f2a;
            padding: 12px 4px; }
            #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.image-item .product-image-nav-container .product-image-nav .nav-image-item .inner img {
              max-width: 100%; }
  #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item {
    width: 160px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group {
      margin-bottom: 0; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group:not(:last-of-type) {
        margin-bottom: 20px; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 300; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group input, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group select, #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group a {
        text-align: left;
        border-radius: 0;
        width: 100%;
        font-size: 14px;
        padding: 8px 15px;
        color: #101010;
        font-weight: 100;
        background-color: #d9d9d9;
        border: 0; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container #colorDisplay {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        color: #b61f2a;
        font-weight: bold; }
      #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table {
        width: 100%; }
        #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table tr:nth-of-type(1) td {
          border-top: 0; }
        #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table tr td {
          padding: 8px 0;
          vertical-align: middle; }
          #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table tr td:nth-of-type(1) {
            font-weight: bold;
            font-size: 14px; }
          #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table tr td:nth-of-type(2) img {
            width: 33px;
            height: 34px;
            position: relative;
            bottom: 0px; }
          #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .fields .form-group .selected-color-container table tr td:last-of-type a {
            background: #b61f2a;
            color: #fff;
            padding: 3px 8px;
            font-size: 14px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item form .form-action {
      margin-top: 40px; }
    #content-wrapper #product-detail-page .product-detail-section .product-detail-wrapper .detail-block.purchase-item .common-product-breakdown {
      display: none; }
  #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_2 .content h1:first-of-type, #content-wrapper #about-cashmere-page .common-block-container .block.right-block .tab-content #page_3 .content h1:first-of-type {
    margin-top: 40px; }
  #content-wrapper #process-page .common-block-container .block.left-block .tab-container ul li:nth-of-type(1) a {
    font-weight: bold; }
    #content-wrapper #process-page .common-block-container .block.left-block .tab-container ul li:nth-of-type(1) a:after {
      display: none !important; }
  #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block {
    margin: 0 -40px; }
    #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item {
      padding: 0px 40px; }
      #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image {
        float: left;
        width: 50%;
        position: relative; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image:after {
          content: '';
          height: calc(100% + 50px);
          top: -25px;
          width: 1px;
          background: #b61f2a;
          position: absolute;
          right: 0; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item {
          height: auto !important; }
          #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item .inner {
            position: relative; }
            #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item .inner .holder-image {
              width: 100%;
              height: auto;
              max-width: 100%; }
            #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item .inner .display-image, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item .inner video, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-main-slider .process-item .inner iframe {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer {
          margin-top: 20px;
          position: relative; }
          #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider {
            margin: 0 -5px; }
            #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item {
              width: 25%;
              padding: 0 5px;
              cursor: pointer;
              height: auto !important; }
              #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item .inner {
                position: relative;
                background-color: #ccc; }
                #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item .inner .holder-image {
                  width: 100%;
                  height: auto;
                  max-width: 100%; }
                #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item .inner .display-image, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item .inner video, #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-image .process-nav-outer .process-nav-slider .process-nav-item .inner iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  object-position: center; }
      #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-text {
        float: left;
        width: 50%; }
        #content-wrapper #process-page .common-block-container .block.right-block .content .inner-block .block-item.inner-text h1 {
          text-align: center;
          margin-bottom: 28px; }
  #content-wrapper #contact-page .common-block-container .block.right-block .content .contact-item ul li:not(:last-of-type) {
    margin-bottom: 8px; }
  #content-wrapper #contact-page .common-block-container .block.right-block .content .contact-item ul li img {
    max-width: 185px; }
  #content-wrapper #contact-page .common-block-container .block.right-block .content .contact-item:not(:last-of-type) {
    margin-bottom: 35px; }
  #content-wrapper #buy-page .buy-section .location-container {
    margin: -25px -20px; }
    #content-wrapper #buy-page .buy-section .location-container .location-item {
      width: 33.33%;
      padding: 25px 20px; }
      #content-wrapper #buy-page .buy-section .location-container .location-item .content .image-container a {
        display: block; }
      #content-wrapper #buy-page .buy-section .location-container .location-item .content .image-container img {
        width: 170px;
        max-width: 100%;
        height: auto; }
      #content-wrapper #buy-page .buy-section .location-container .location-item .content .image-container p {
        margin: 20px 0 15px;
        font-size: 18px;
        font-weight: 400;
        color: black; }
      #content-wrapper #buy-page .buy-section .location-container .location-item .content ul li {
        color: #636b6f; }
        #content-wrapper #buy-page .buy-section .location-container .location-item .content ul li:not(:last-of-type) {
          margin-bottom: 8px; }
  #content-wrapper #login-page {
    /*    @extend .ex-flex;
        @extend .ex-flex-wrap;
        min-height: calc(100vh - 116px);
        align-items: center;
        justify-content: center;*/
    background-size: cover;
    background-position: center; }
    #content-wrapper #login-page .common-login-section {
      min-height: 100vh;
      align-items: center;
      justify-content: center; }
      #content-wrapper #login-page .common-login-section .custom-container {
        padding-top: 180px; }
      #content-wrapper #login-page .common-login-section .section-content {
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.67);
        width: 400px;
        margin: auto; }
        #content-wrapper #login-page .common-login-section .section-content .title {
          margin-bottom: 25px;
          color: #fff; }
          #content-wrapper #login-page .common-login-section .section-content .title h2 {
            font-size: 24px; }
        #content-wrapper #login-page .common-login-section .section-content form {
          margin-bottom: 0; }
          #content-wrapper #login-page .common-login-section .section-content form .fields .form-group input {
            width: 100%;
            box-shadow: none;
            border: 0;
            padding: 6px 10px;
            background-color: white; }
          #content-wrapper #login-page .common-login-section .section-content form .fields .form-group label {
            font-weight: 400;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.95);
            margin-bottom: 8px;
            display: block; }
          #content-wrapper #login-page .common-login-section .section-content form .fields .form-group.remember-me label span {
            display: block; }
            #content-wrapper #login-page .common-login-section .section-content form .fields .form-group.remember-me label span input {
              width: 25px; }
          #content-wrapper #login-page .common-login-section .section-content form .fields .form-group.sign-up p {
            text-align: right;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.73); }
          #content-wrapper #login-page .common-login-section .section-content form .form-action {
            margin-top: 20px; }
            #content-wrapper #login-page .common-login-section .section-content form .form-action .um-btn {
              background-color: #b7282e;
              color: #fff; }
              #content-wrapper #login-page .common-login-section .section-content form .form-action .um-btn:not(:last-of-type) {
                margin-bottom: 16px; }
  #content-wrapper #cart-page .cart-page-section {
    position: relative; }
    #content-wrapper #cart-page .cart-page-section .wizard .wizard-inner {
      pointer-events: none;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section .title {
      margin-bottom: 30px; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section .title h1 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: #ba3036; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container {
      height: calc(100vh - 300px);
      text-align: center;
      align-items: center;
      justify-content: center; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner img {
        max-width: 100%; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner p {
        color: #b61f2a;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .empty-cart-container .inner p a {
          font-weight: 400; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .button-container {
      margin-top: 25px;
      text-align: right; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.cart-block .button-container .um-btn {
        display: inline-block; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields {
      margin: 0 -12px; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group {
        width: 100%;
        padding: 0 12px; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group:not(:last-of-type) {
          margin-bottom: 20px; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group.half {
          width: 50%; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group label {
          display: block;
          margin-bottom: 10px; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group input, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group textarea, #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group select {
          width: 100%;
          border: 1px solid #b9b9b9;
          padding: 10px 10px;
          font-size: 14px; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .fields .form-group textarea {
          height: 150px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .form-action {
      text-align: right; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .form-action ul li {
        display: inline-block;
        vertical-align: top; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.form-block form .form-action ul li:not(:last-of-type) {
          padding-right: 10px; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .thankyou-text {
      text-align: center; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .thankyou-text h1 {
        font-weight: bold;
        color: #b61f2a; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container {
      margin: 30px 0 40px; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table {
        margin: auto;
        text-align: center; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td {
          padding: 0 30px; }
          #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td span {
            display: block;
            width: 100%; }
            #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .order-number-container table tr td span:not(:last-of-type) {
              margin-bottom: 5px;
              font-weight: bold; }
    #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table {
      width: 100%; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tr td {
        padding: 10px; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tr td img {
          max-width: 100%;
          width: 150px; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table thead {
        background-color: #b61f2a; }
        #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table thead td {
          color: #fff;
          font-weight: bold; }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tbody tr:not(:last-of-type) {
        border-bottom: 1px solid rgba(204, 204, 204, 0.54); }
      #content-wrapper #cart-page .cart-page-section .wizard .common-checkout-section.thankyou-section .product-list-container table tbody tr td span {
        display: block;
        width: 100%; }

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  #footer-wrapper .copyright {
    padding: 28px 0;
    border-top: 2px solid #b61f2a; }

/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
.common-home-logo-section {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0; }
  .common-home-logo-section .logo-container {
    padding-top: 60px; }
    .common-home-logo-section .logo-container a {
      display: inline-block;
      vertical-align: top; }
      .common-home-logo-section .logo-container a img {
        width: 300px;
        height: auto; }

.common-product-container {
  margin: -20px -30px; }
  .common-product-container .product-item {
    width: 16.66%;
    padding: 20px 30px; }
    .common-product-container .product-item a {
      display: block; }
    .common-product-container .product-item .image-container {
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
      .common-product-container .product-item .image-container img {
        width: 100%;
        height: auto; }
    .common-product-container .product-item .text-container {
      text-align: center;
      margin-top: 14px;
      padding-top: 16px;
      position: relative; }
      .common-product-container .product-item .text-container:after {
        content: '';
        height: 1px;
        width: 80%;
        background-color: #b61f2a;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .common-product-container .product-item .text-container p {
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.4em;
        color: #101010;
        text-align: center; }

.common-block-container .block {
  height: calc(100vh - 332px);
  overflow-y: scroll;
  overflow-x: hidden; }
  .common-block-container .block::-webkit-scrollbar {
    width: 2px; }
  .common-block-container .block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #d9d9d9;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .common-block-container .block::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b61f2a;
    -webkit-box-shadow: inset 0 0 6px #b61f2a; }
  .common-block-container .block::-webkit-scrollbar-thumb:window-inactive {
    background: #b61f2a; }
  .common-block-container .block.left-block {
    width: 300px;
    position: relative;
    padding-right: 50px; }
    .common-block-container .block.left-block:after {
      content: '';
      height: 100%;
      width: 3px;
      background-color: #d9d9d9;
      position: absolute;
      right: -3px;
      top: 0; }
    .common-block-container .block.left-block .tab-container {
      margin-bottom: 30px; }
      .common-block-container .block.left-block .tab-container ul li {
        position: relative;
        display: block;
        float: none; }
        .common-block-container .block.left-block .tab-container ul li:not(:last-of-type) {
          margin-bottom: 15px; }
        .common-block-container .block.left-block .tab-container ul li.active a {
          font-weight: bold; }
        .common-block-container .block.left-block .tab-container ul li a {
          display: block;
          text-transform: uppercase;
          position: relative;
          color: #101010;
          padding-left: 25px; }
          .common-block-container .block.left-block .tab-container ul li a:after {
            content: '';
            height: 6px;
            width: 6px;
            border-radius: 100%;
            background-color: #e59096;
            position: absolute;
            left: 0;
            top: 10px; }
    .common-block-container .block.left-block .image-container .image-item img {
      width: 100%;
      height: auto;
      box-shadow: 2px 2px 10px #9c9c9c; }
    .common-block-container .block.left-block .image-container .image-item:not(:last-of-type) {
      margin-bottom: 35px; }
  .common-block-container .block.right-block {
    position: relative;
    width: calc(100% - 300px);
    padding-left: 40px;
    padding-right: 30px; }
    .common-block-container .block.right-block .tab-content > .tab-pane {
      display: block;
      max-height: 0px;
      height: 0;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      transition: opacity 1s ease-in-out; }
    .common-block-container .block.right-block .tab-content > .active {
      height: auto;
      max-height: 5000px;
      opacity: 1;
      pointer-events: initial;
      transition: opacity 1s ease-in-out; }
    .common-block-container .block.right-block .content h1 {
      margin: 40px 0 15px; }
      .common-block-container .block.right-block .content h1:first-of-type {
        margin-top: 0; }

.common-product-breakdown {
  margin-top: 40px; }
  .common-product-breakdown .title {
    text-align: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 2px solid #b61f2a; }
    .common-product-breakdown .title p {
      font-weight: 100; }
  .common-product-breakdown .content {
    padding: 0 20px; }
    .common-product-breakdown .content table tr td {
      color: #101010;
      font-weight: 300;
      padding: 8px 22px;
      vertical-align: top; }
      .common-product-breakdown .content table tr td:nth-of-type(1) {
        position: relative; }
        .common-product-breakdown .content table tr td:nth-of-type(1):after {
          content: '';
          height: 8px;
          width: 8px;
          border-radius: 100%;
          background-color: #e59096;
          position: absolute;
          left: 0;
          top: 16px; }
    .common-product-breakdown .content table tr:last-of-type td {
      font-weight: bold; }

.common-remove-tab-style {
  border-bottom: 0; }
  .common-remove-tab-style li a {
    padding: 0;
    background-color: transparent;
    border: 0; }
    .common-remove-tab-style li a:focus, .common-remove-tab-style li a:hover {
      background-color: transparent;
      border: 0; }
  .common-remove-tab-style li.active a {
    background-color: transparent;
    border: 0; }
    .common-remove-tab-style li.active a:focus, .common-remove-tab-style li.active a:hover {
      background-color: transparent;
      border: 0; }

.common-select {
  display: none; }

.common-cart-style table {
  width: 100%; }
  .common-cart-style table tr td, .common-cart-style table tr th {
    padding: 20px 20px;
    vertical-align: top; }
  .common-cart-style table tr th {
    padding-top: 15px;
    padding-bottom: 15px; }
  .common-cart-style table thead {
    background-color: #b61f2a; }
    .common-cart-style table thead th {
      color: #fff; }
  .common-cart-style table tbody tr {
    border-bottom: 1px solid #d9d9d9; }
    .common-cart-style table tbody tr td img {
      max-width: 100%;
      width: 110px;
      height: auto; }
    .common-cart-style table tbody tr td.actions button {
      display: inline-block;
      height: 20px;
      width: 20px;
      line-height: 16px;
      border-radius: 100%;
      font-size: 16px;
      color: #b61f2a;
      border: 1px solid #b61f2a;
      text-align: center;
      padding: 0;
      background: transparent; }

.cart-small-width {
  width: 800px;
  max-width: 100%;
  margin: auto; }

.lightboxOverlay {
  background-color: #fff !important;
  opacity: 1 !important; }

.lb-dataContainer {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  padding-right: 30px; }
  .lb-dataContainer .lb-details {
    display: none !important; }

/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev, .slick-slider .slick-next {
  z-index: 1;
  height: 50px;
  width: 24px; }
  .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    content: '';
    height: 40px;
    width: 24px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center; }
.slick-slider .slick-prev {
  left: 140px; }
  .slick-slider .slick-prev:before {
    background-image: url("../img/logo/arrow_left.png"); }
.slick-slider .slick-next {
  right: 140px; }
  .slick-slider .slick-next:before {
    background-image: url("../img/logo/arrow_right.png"); }

.process-main-slider .process-item:not(:first-of-type),
.product-image-main .product-image-main-item:not(:first-of-type),
.product-image-nav .nav-image-item:not(:first-of-type),
.process-nav-slider .process-nav-item:not(:first-of-type) {
  display: none; }

.process-main-slider.slick-initialized .process-item,
.product-image-main.slick-initialized .product-image-main-item,
.product-image-nav.slick-initialized .nav-image-item,
.process-nav-slider.slick-initialized .process-nav-item {
  display: block; }

/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Nav Tab Starts ------------------------------------*/
/*-------------------------------------- Nav Tab Ends -------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
.modal-dialog {
  margin: 70px auto; }
  .modal-dialog .modal-header {
    padding: 0;
    border: 0; }
    .modal-dialog .modal-header button {
      position: absolute;
      top: -30px;
      right: 0;
      color: #fff;
      opacity: 1; }
  .modal-dialog .modal-content {
    border-radius: 0; }
    .modal-dialog .modal-content .modal-body {
      padding: 30px 26px; }
      .modal-dialog .modal-content .modal-body .modal-loading-gif {
        height: 130px;
        position: relative; }
        .modal-dialog .modal-content .modal-body .modal-loading-gif img {
          width: 30px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%); }
      .modal-dialog .modal-content .modal-body p, .modal-dialog .modal-content .modal-body h1, .modal-dialog .modal-content .modal-body h2, .modal-dialog .modal-content .modal-body h3, .modal-dialog .modal-content .modal-body h4, .modal-dialog .modal-content .modal-body h5, .modal-dialog .modal-content .modal-body h6, .modal-dialog .modal-content .modal-body ul li, .modal-dialog .modal-content .modal-body ol li, .modal-dialog .modal-content .modal-body span {
        color: #fff; }

#colorSelectModal .modal-dialog {
  width: 100%;
  margin: 50px;
  max-width: calc(100% - 100px); }
#colorSelectModal .title {
  margin-bottom: 20px; }
  #colorSelectModal .title h1 {
    font-size: 18px;
    color: #101010;
    font-weight: 400; }
#colorSelectModal .color-modal-container {
  margin: 0 -30px; }
  #colorSelectModal .color-modal-container .color-modal-item {
    width: 50%;
    padding: 0 30px;
    position: relative; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .color-status {
      margin-bottom: 20px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .color-status p {
        text-align: center;
        color: #101010;
        font-weight: 300; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container {
      text-align: center; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container .square-image {
        height: 350px;
        width: 350px;
        margin: auto; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container .square-image img {
          object-fit: contain;
          object-position: center;
          height: 100%;
          width: 100%; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container ul li {
        display: inline-block;
        vertical-align: top;
        color: #101010; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container ul li:nth-of-type(1) {
          font-weight: bold; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .image-container ul li:nth-of-type(2) {
          font-weight: 300; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .button-container {
      margin-top: 25px; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container {
      margin-top: 20px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container p, #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container ul li {
        font-size: 14px;
        color: #101010; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container p {
        font-weight: bold;
        margin-bottom: 8px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container ul {
        padding-left: 20px; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(2) .note-container ul li {
          font-weight: 300;
          list-style: disc; }
    #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) {
      height: calc(100vh - 202px);
      overflow-y: scroll;
      overflow-x: hidden; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1)::-webkit-scrollbar {
        width: 2px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1)::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #d9d9d9;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1)::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #b61f2a;
        -webkit-box-shadow: inset 0 0 6px #b61f2a; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1)::-webkit-scrollbar-thumb:window-inactive {
        background: #b61f2a; }
      #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul {
        margin: -10px -13px; }
        #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li {
          width: 20%;
          cursor: pointer;
          text-align: center;
          padding: 10px 13px;
          display: inline-block;
          vertical-align: top; }
          #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span {
            display: block; }
            #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span:nth-of-type(1) {
              height: 90px;
              width: 90px;
              margin: auto; }
              #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span:nth-of-type(1) img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center; }
            #colorSelectModal .color-modal-container .color-modal-item:nth-of-type(1) ul li span:nth-of-type(2) {
              color: #6f6c6c;
              font-size: 15px;
              font-weight: 100;
              margin-top: 5px;
              text-align: center; }

#themaintenancemodal .modal-dialog {
  width: 800px; }
  #themaintenancemodal .modal-dialog .modal-body {
    padding: 100px 40px; }
#themaintenancemodal .image-container {
  text-align: center; }
  #themaintenancemodal .image-container img {
    max-width: 100%;
    width: 480px;
    height: auto;
    margin: auto; }
#themaintenancemodal .text-container {
  margin-top: 40px;
  text-align: center; }
  #themaintenancemodal .text-container h1, #themaintenancemodal .text-container p {
    color: #101010;
    text-align: center; }
  #themaintenancemodal .text-container h1 {
    font-size: 30px;
    margin-bottom: 6px; }

.ajs-message.ajs-success {
  color: #fff; }

/*--------------------------------------- Modal Ends --------------------------------------*/

/*# sourceMappingURL=thestyles.css.map */
